#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

h3 {
  margin: .25em
}

.todo-item {
  width: 80%;
}
.todo-item--title {
  width: 80%;
}


input {
  padding: .75em;
  border-radius: 10px;
  border: 1px solid lightgray
}